.heading {
  color:black;
}

div.main {
  background-color:white;
  border-radius: 10px;
  padding-left:10px;
  color:black;
  margin-bottom:20px;
}

div.blank {
  border-left:5px solid #FFF;
}

div.b {
  background-color:white;
  padding-left:20px;
  color:black;
  border-left: 5px solid #AAA;
}
